@font-face {
    font-family: silkscreen;
    src: url(/assets/files/Silkscreen.ttf);
}

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");


/* div {
    outline: 1px solid white;
} */

html {
    padding: 0;
    margin: 0;
    background-color: rgb(10, 10, 10);
    font-family: silkscreen;
    font-size: 4vh;
    color: rgb(200, 200, 150);
}

body {
    overflow-x: hidden;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100vw;
    margin: 10px;
    padding: 10px;
}

.navBar {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 4vh;
}

.navLink {
    text-decoration: none;
    color: rgb(220, 220, 180);
}

.navLink:hover {
    border-bottom: 2px solid rgb(220, 220, 180);
    border-top: 2px solid rgb(220, 220, 180);

}

a:hover {
    color: 'white';
    text-shadow: 'white';
}

.projLink {
    color: rgb(224, 138, 250);
    text-decoration: none;
}

.projLink:hover {
    filter: hue-rotate(90deg);
    transform: scale(1.1);
    transition: filter 2s, transform 1s;
}

.content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    
}

.row {
    display: flex;
    flex-flow: row nowrap;
    flex-direction: space-evenly;
}

.column {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
}

.scrnshot {
    width: 45vw;
}

.artGal {
    display: flex;
    overflow: auto;
    flex-flow: row wrap;
    justify-content: center;
}

.art {
    flex-shrink: 1;
    flex-grow: 0;
    height: 50vh;
}

.music {
    overflow-y: visible;
}

#pat {
    background: white;
    color: black;
    height: 100vh;
}
#ascii {
    font-size: 0.5%;
}